body{
    background-image: url('https://wallpapercave.com/wp/wp2960633.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table{
    width: 90%;
    margin: 50px auto;
    background: rgb(211, 176, 206);
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid rgb(175, 158, 162);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: rgb(150, 158, 206);
}

input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid rgb(224, 206, 206);
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: rgb(211, 209, 209);
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #99bdb1;
}

input[type="reset"]:hover{
    background: #99bdb1;
}

button{
    background: rgb(255, 254, 254);
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background:#8ab1d1 ;
}
